<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
  <testsuites>
    <testsuite name="HTTP Abstraction Layer">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
